<div class="bg-white">
    <h1>About</h1>
    <p>This website is based on my senior capstone project, which involved working with a client to design a system that met their requirements</p>
    <p>The concept was to create a system that allowed users to purchase this product designed to record animal data without harming them, 
    then send this data to this website which would then allow users to share this data securely. Certain design decisions were made for testing 
    purposes which include no actual product purchase. Instead users have create devices and add observations manually before being able to share 
    them through the Project interface. Overall this is a basic CRUD application built using Asp.net MVC Core with c# with SQL Server for the database 
    and hosted on Azure. 
    </p>
</div>
