@model Device

@{
    ViewBag.Title = "Create Project";
}

@*<div class="row d-flex justify-content-center m-4">
    <div class="col-md-6">*@
        <div class="d-flex justify-content-md-center align-items-center vh-100">
            <div class="bg-light container">
                <form class="form" asp-controller="device" asp-action="adddevice" method="post">
                    <label>@ViewBag.userid</label>
                    <div class="form-group">
                        <label asp-for="Nickname"></label>
                        <input asp-for="Nickname" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Latitude"></label>
                        <input asp-for="Latitude" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Longitude"></label>
                        <input asp-for="Longitude" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    @*</div>
</div>*@
