@model Observation

<div class="container bg-light mt-5">
    <form asp-controller="observation" asp-action="createobservation" method="post" class="">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="Timestamp"></label>
                    <input asp-for="Timestamp" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Weight"></label>
                    <input asp-for="Weight" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Length"></label>
                    <input asp-for="Length" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="photoPath"></label>
                    <input asp-for="photoPath" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label asp-for="Temperature"></label>
                    <input asp-for="Temperature" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Humidity"></label>
                    <input asp-for="Humidity" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Sciencename"></label>
                    <input asp-for="Sciencename" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Commonname"></label>
                    <input asp-for="Commonname" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-sm-3">
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-success">Create</button>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <a asp-action="devicedetails" asp-controller="device" asp-route-id="@ViewBag.DeviceId" class="btn btn-primary form-control">Back</a>
                </div>
            </div>
        </div>
</form>
</div>