#text {
    overflow-y: scroll;
    height: 100px;
    resize: none;
}

body {
    background-color: #1A181B;
}

#map {
    height: 50rem;
    width:100%;  
}

#logo {
    height: 10%;
    width: 15%;
}

#logo2 {
    height: 15%;
    width: 15%;
}

.text-orange {
    color: #FF8800;
    font-weight: bold;
}

.card1 {
    border-color: #3e3e3e;
    border-radius: 20px;
    border-width: 3px;
    text-align: center;
}

.card2 {
    border-color: #4a8959;
    border-radius: 20px;
    border-width: 3px;
    text-align: center;
}

.card3 {
    border-color: #e66641;
    border-radius: 20px;
    border-width: 3px;
    text-align: center;
}

.card4 {
    border-color: #d6990d;
    border-radius: 20px;
    border-width: 3px;
    text-align: center;
}

.card-title1 {
    color: #3e3e3e;
}

.card-title2 {
    color: #4a8959;
}

.card-title3 {
    color: #e66641;
}

.card-title4 {
    color: #d6990d;
}
