@model IEnumerable<ApplicationUser>

<div class="bg-light mt-1">
    <h1 class="text-orange">Hello</h1>
    @foreach(var item in Model)
        {
            <h1>@item.UserName</h1>
        }
</div>
<div class="bg-white">

</div>
<div class="bg-light container-fluid p-0 mt-3">
    @*@foreach(var item in Model)
    {
        <h1>@item.UserName</h1>
    }*@
</div>


